<!DOCTYPE html>
<html>
<head>
<title>Título da página</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<h1>Formulário</h1>
<form action="#">
<label for="ftel">Telefnone:</label><br>
<input type="tel" id="ftel" name="ftel" value="( ) 0000-0000"><br>
<label for="fsearch">Buscar:</label><br>
<input type="search" id="fbuscar" name="fbuscar" value="Buscar"><br>
<label for="femail">Email:</label><br>
<input type="email" id="femail" name="femail" value="email@site.com"><br>
<label for="furl">Url:</label><br>
<input type="url" id="furl" name="furl" value="http://www.site.com.br"><br>
</form>

<label for="fdate">Data de Nascimento:</label><br>
<input type="datetime" id="fdata" name="fdata" placeholder="__/__/____"><br>
<label for="fdatetime-local">Data de Cadastro:</label><br>
<input type="datetime-local" id="fdatetime-local" name="fdatetime-local" placeholder="dd/mm/aaaa --:--:00"><br>
<label for="fweek">Semana:</label><br>
<input type="week" id="fweek" name="fweek" placeholder=""><br>
<label for="frange">Volume:</label><br>
<input type="range" id="frange" name="frange" placeholder=""><br>


    


<audio controls>
	<source src="audio/house.org" type="audio/mpg">
	Seu navegar não suporta o elemento de audio.
</audio>

<video width="320" heigth="420" controls autoplay>
	<source src="" type="video/mp4">
	Seu navegar não suporta o elemento de video.
</video>




</body>

<footer>
</footer>
</html>

    

