<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Título da materia</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>cuidados que temos que tomar ao fazermos compras pela internet</h1>
 
    <img src="../images/New York Yankees '47 MLB Mens Men's Brand Clean Up Cap.jpg">
    <h3>recentemente fiz uma compra pela internet em um site muito relevante e antigo o site tinha mais de 200 mil seguidores no instagram e tinha 11 anos de existencia entao eu logicamente achava que era um site seguro mas infelizmente nao era eu fiz a compra no começo desse mes e o prazo de entrega era ate dia 28 de fevereiro e quando chegou o dia do site entregar o produto eles falaram que eu tinha cancelado o pedido sendo que eu nao tinha cancelado e ainda por cima nao devolveram meu dinheiro</h3>

  


   




  
  
  </body>
</html>